#all_Parent {
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_487063216_162506.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
}

.score-div {
    text-align: center;
    margin-top: 235px;
    font-size: 40px;
    background-color: white;
}

.questionNumber {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 4px 4px 4px black;
}

.questionAll {
    margin-top: 30px;
}


.questionallDiv {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 40px;
    width: 750px;
    margin-left: 270px;
    height: 230px;
    font-size: 25px;
    opacity: .7;
    margin-top: 90px;
}


.button_div {
    text-align: center;
    margin-top: 60px;
}

#buttons_all {
    margin: 35px;
    text-align: center;
    margin-bottom: 110px;
}

#buttons_all:hover {
    background-color: black;
    opacity: .9;
}